body {
    background-color: #A369F5;
    margin: 0;
    height: 100vh;

}

html, body {
    height: 100%;
    margin: 0;
}

.body {
    background-color: #A369F5;
    text-align: center;
    height: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

h1 {
    color: #C6A1F8;
}

.myLogo {
    height: 100px;
    width: 100px;
    display: block;
    margin: 0 auto;
}
body {
    background-color: #A369F5; 
    margin: 0;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6E568F; 
    height: 50px;
    width: 100%;
}

.navbar {
    display: flex;
    gap: 50px;
}

.navbar a {
    text-decoration: none;
    color: #C6D70F;
    font-weight: bold;
    padding: 10px 5px;
}
