{% extends 'app/base.html' %}
{% load static %}
{% block content %}
<div class="body">
    <style>
.body {
    background-color: #A369F5;

}
</style>


    <center><h3>Hi i'am Icawat, Laila Jane but you can call me LJ!</h3></b></center>
    <center><img class="myLogo" src="{% static 'images/Logo.jpg' %}" alt="Logo"></center><br>

    <main>This page will tell you a story about how i survive and still surviving being an I.T student.</main>
</div>
 <footer>
        <p>Contact us at info icawatlailajane@gmail.com</p>
    </footer>
{% endblock content %}
